[program:php83]
command=/opt/php83/sbin/php-fpm
process_name=%(program_name)s
numprocs=1
directory=/opt/php83
umask=022
priority=1
autostart=true
autorestart=true
startsecs=1
startretries=1
exitcodes=0,2
stopsignal=QUIT
stopwaitsecs=5
serverurl=AUTO
user=detik
group=detik
redirect_stderr=true
stdout_logfile=/var/log/supervisor/php83.log
stdout_logfile_maxbytes=1MB
stdout_logfile_backups=10
stdout_capture_maxbytes=1MB